@import "~bulma/sass/utilities/_all.sass";




// $primary: yellow;
// $info: orange;
// $success: green;
// $warning: blue;
// $danger: indigo;
// $light: lightgrey;
// $dark: darkgrey;

.container-centered {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}






@import "~bulma/bulma";
